@model ForgetPasswordViewModel;

@inject IGlobalHelper _global;
@{
    var action = ViewBag.Action;
    if (action == "Add")
    {
        ViewData["Title"] = "Add";
    }
    else
    {
        ViewData["Title"] = "Edit";
    }
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

@{
    var ComId = _global.GetCompID();
    var UserId = _global.GetUserID();
    var RoleId = _global.GetRoleID();
}

@section PageName {
    Forget Password
}
@section Breadcrumb {
    <a href="/payscaletype/index">
        <i class="fa fa-home"></i>
    </a>
    <span class="Divider">/</span>
    <span class="section activeCrum">Forget Password</span>
}



<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <!-- Basic Inputs Validation start -->

            <form id="main" asp-action="Create" method="post" class="" novalidate>
                <div class="card">
                    @* <div class="card-header">
                    @await Component.InvokeAsync("PageHeader", pageHeader)
                    </div> *@
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-block">
                        @* @if (Model == null)
                        {
                        <input type="hidden" asp-for="PayScaleTypeId" value="0" />
                        <input type="hidden" asp-for="CompId" value="@ComId" />
                        <input type="hidden" asp-for="AddedBy" value="@UserId" />
                        <input type="hidden" asp-for="UpdatedBy" />
                        <input type="hidden" asp-for="AddedDate" value="@DateTime.Now" />
                        <input type="hidden" asp-for="UpdatedDate" />
                        }
                        else
                        {
                        <input type="hidden" asp-for="PayScaleTypeId" />
                        <input type="hidden" asp-for="CompId" />
                        <input type="hidden" asp-for="AddedBy" />
                        <input type="hidden" asp-for="UpdatedBy" value="@UserId" />
                        <input type="hidden" asp-for="AddedDate" />
                        <input type="hidden" asp-for="UpdatedDate" value="@DateTime.Now" />
                        } *@
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                @* <div class="form-group row d-none">
                                <div class="col-sm-12">
                                <label asp-for="OrgId" class="col-form-label text-right">Organisation</label>
                                </div>
                                <div class="col-sm-12">
                                <select asp-for="OrgId" asp-items="@ViewBag.OrgId" class="form-control form-control-sm" required>
                                </select>
                                <span asp-validation-for="OrgId" class="text-danger"></span>
                                </div>
                                </div> *@

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="OldPassword" class="float-label">Old Password</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <input asp-for="OldPassword" class="form-control" placeholder="" required />
                                        <span asp-validation-for="OldPassword" class="text-danger form-bar"></span>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="NewPassword" class="float-label">New Password </label>
                                    </div>
                                    <div class="col-sm-12">
                                        <input asp-for="NewPassword" class="form-control" placeholder="" required />
                                        <span asp-validation-for="NewPassword" class="text-danger form-bar"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="ConfirmPassword" class="float-label">Confirm Password</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <input asp-for="ConfirmPassword" class="form-control" required></input>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger form-bar"></span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block actionBtnRight">
                                <input type="submit" value="Submit" class="btn btn-primary waves-effect waves-light m-r-20" />
                                <button type="button" class="btn btn-danger d-none">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Basic Inputs Validation end -->
        </div>
    </div>
</div>
<input type="hidden" id="IsView" name="IsView" value="@ViewBag.IsView" />
<input type="hidden" id="IsAdd" name="IsAdd" value="@ViewBag.IsAdd" />
<input type="hidden" id="IsDelete" name="IsDelete" value="@ViewBag.IsDelete" />
<input type="hidden" id="IsEdit" name="IsEdit" value="@ViewBag.IsEdit" />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}