@{
    ViewData["Title"] = "Client List";
}
@section PageName {
    Organisation List
}
@section Breadcrumb {
    <a href="/dashboard/index" class="text-white">
        <i class="fa fa-home"></i>
    </a>
    <span class="Divider">/</span>
    <span class="section activeCrum">Organisation List</span>
}

<div class="row">
    <div class="col-sm-12">
        <!-- Ajax data source (Arrays) table start -->
        <div class="card">
            <div class="card-header">
                <a href="/organisation/create" class="btn btn-primary @ViewBag.IsAdd">Create New</a>
            </div>
            <div class="card-block">
                <div class="table-responsive dt-responsive">
                    <table id="dt-orglist" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr class="text-center">
                                <th>orgId</th>
                                <th>#</th>
                                <th>Action</th>
                                @*<th>Client Name</th>*@
                                <th>Organisation Name</th>
                                <th>Organisation Address</th>
                                <th>Package Name</th>
                                <th>Number Of Employee</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- Ajax data source (Arrays) table end -->
    </div>
</div>

<input type="hidden" id="IsView" name="IsView" value="@ViewBag.IsView" />
<input type="hidden" id="IsAdd" name="IsAdd" value="@ViewBag.IsAdd" />
<input type="hidden" id="IsDelete" name="IsDelete" value="@ViewBag.IsDelete" />
<input type="hidden" id="IsEdit" name="IsEdit" value="@ViewBag.IsEdit" />



@section Scripts {
    <script>
        var isedit = $('#IsEdit').val();
        console.log(isedit);
    </script>
}