@model MainModule
@inject IGlobalHelper _global;
@{
    var action = ViewBag.Action;
    if (action == "Create")
    {
        ViewData["Title"] = "Create";
    }
    else
    {
        ViewData["Title"] = "Edit";
    }


}

@{

    string[] BCText = new string[] { "Module List", "Module Add" };
    string[] BCLink = new string[] { "module/index", "#" };
    PageHeaderProps pageHeader = new PageHeaderProps
    {
        PageTitle = "Module Add",
        PageDesc = "Module Add",
        BreadcrumbText = BCText,
        BreadcrumbLink = BCLink
    };
    var ComId = _global.GetCompID();
    var UserId = _global.GetUserID();
}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <!-- Basic Inputs Validation start -->
            <div class="card">
                <div class="card-header">
                    @*<h5><a asp-action="Index">Back to List</a></h5>*@
                    @await Component.InvokeAsync("PageHeader", pageHeader)
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <div class="card-block">
                    <form id="main" asp-action="Create" method="post" novalidate>
                        <div class="row justify-content-center">
                            @if (Model == null)
                            {
                                <input type="hidden" asp-for="ModuleID" value="0" />
                                <input type="hidden" asp-for="CompId" value="@ComId" />
                                <input type="hidden" asp-for="AddedBy" value="@UserId" />
                                <input type="hidden" asp-for="UpdatedBy" />
                                <input type="hidden" asp-for="AddedDate" value="@DateTime.Now" />
                                <input type="hidden" asp-for="UpdatedDate" />
                            }
                            else
                            {
                                <input type="hidden" asp-for="ModuleID" />
                                <input type="hidden" asp-for="CompId" />
                                <input type="hidden" asp-for="AddedBy" />
                                <input type="hidden" asp-for="UpdatedBy" value="@UserId" />
                                <input type="hidden" asp-for="AddedDate" />
                                <input type="hidden" asp-for="UpdatedDate" value="@DateTime.Now" />
                            }
                            <div class="col-sm-6">
                                <div class="form-group row">

                                    <label asp-for="ModuleName" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="ModuleName" class="form-control form-control-sm" placeholder="Module Name" required />
                                        <span asp-validation-for="ModuleName" class="text-danger messages"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Description" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Description" class="form-control form-control-sm" placeholder="Description" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Package" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Package" class="form-control form-control-sm" placeholder="Package" />
                                        <span asp-validation-for="Package" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="SortIndex" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="SortIndex" class="form-control form-control-sm" placeholder="Sort Index" required />
                                        <span asp-validation-for="SortIndex" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <label class="col-sm-12"></label>
                                    <div class="col-sm-12">
                                        <input type="submit" value="Submit" class="btn btn-primary m-b-0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Basic Inputs Validation end -->
        </div>
    </div>
</div>
<input type="hidden" id="IsView" name="IsView" value="@ViewBag.IsView" />
<input type="hidden" id="IsAdd" name="IsAdd" value="@ViewBag.IsAdd" />
<input type="hidden" id="IsDelete" name="IsDelete" value="@ViewBag.IsDelete" />
<input type="hidden" id="IsEdit" name="IsEdit" value="@ViewBag.IsEdit" />

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

